.stTextInput>label, .stTextInput>div>div>input {
  color: #1c6ca5;
  opacity: 1;
  font-family: courier;
  font-size: medium;
}

.stTextInput>label {
  padding: 16px;
  background-color: rgb(71, 152,55, 0.5);
}

.stHorizontalBlock>.stBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  background: blanchedalmond;
  text-align: center;
}

.streamlit-expanderHeader {
  color: #1c6ca5;
  opacity: 1;
  font-family: courier;
  font-size: medium;
  background-color: rgb(71, 152,55, 0.5);
}

.streamlit-expanderHeader:hover {
  color: #1c6ca5;
}
